
<section id="Footers">
    <!-- Footer -->
    <div class="page-footer font-small indigo">
        <!-- Footer Links -->
        <div style="margin: 0;" class="container text-center text-md-left">
            <!-- Grid row -->
            <div style="width: 97vw;" class="row">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Categories</h5>
                    <ul class="list-unstyled">
                        <li><a class="hover__BlueEffect" href="#!">Over Head Shower</a></li>
                        <li><a class="hover__BlueEffect" href="#!">Faucet Collection</a></li>
                        <li><a class="hover__BlueEffect" href="#!">Hand Shower</a></li>
                        <li><a class="hover__BlueEffect" href="#!">Body Jet Shower</a></li>
                        <li><a class="hover__BlueEffect" href="#!">Health Fauset</a></li>
                        <li><a class="hover__BlueEffect" href="#!">Bathroom Accessories</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">My Account</h5>
                    <ul class="list-unstyled">
                        <li><a class="hover__BlueEffect" href="">Sign In</a></li>
                        <li><a class="hover__BlueEffect" href="">Register</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p>Address: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt veritatis
                                unde deserunt tempore fugit consectetur blanditiis commodi numquam atque explicabo.
                            </p>
                        </li>
                        <li>Phone: 987 654 3210</li>
                        <li>Hours: Mon - Sat (10am to 6pm)</li>
                        <li>E-mail:<a style="color: #FFC732;" href="javascript:void(0);">demo@gmail.com</a> </li>
                        <!-- <li>E-mail:<a style="color: #FFC732;" href="mailto:demo@gmail.com">demo@gmail.com</a> </li> -->
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto ">
                    <!-- Links -->
                    <h5 style="letter-spacing: 2px;" class="font-weight-bold text-uppercase mt-3 mb-4">DOWNLOAD OUR
                        APP</h5>
                    <ul class="list-unstyled">
                        <li><img style="width: 200px;" src="../../assets/img/stores.png" alt=""></li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="">Made By Pratyush Tripathy</a>
        </div>
        <!-- Copyright -->
    </div>
</section>