

<div class="d-flex justify-content-center">
    <div style="width: 85vw; justify-content: center;" class="gridContainer">
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
        <app-single-element></app-single-element>
    </div>
</div>

<div id='registerPrompt' style="height: 50px; background-color: #F7F8FA;"
    class=" mt-5 mb-3 account__openPromo d-flex justify-content-center align-items-center ">
    <h5 class="d-inline">Create your online account with kindle bath accessories today</h5>
    <button type="button" class="btn align-self-center ml-4 btn-outline-primary ">Register Now</button>
</div>